<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>navigation}}
        <section class="main-container">
            {{>header}}
            <p>{{error}}</p>
        </section>
        {{>footer}}
    </body>
</html>